html, body, .App {
  height: 100vh;
}

p {
  font-size: 18px;

  &.large {
    font-size: 26px;
  }
}

main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.dark {
      background: darkgray;
    }

    &.light {
      background: burlywood;
    }

    .code-block {
      background: black;
      color: white;
      padding: 24px;
      font-family: 'Courier New', Courier, monospace;
      font-weight: bold;
    }
  }
}